<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href=" ">
    <script src="https://kit.fontawesome.com/2d82c28da0.js" crossorigin="anonymous"></script>
    <title>Disney keypad</title>
</head>
<body>
    <script src="/js/script.js" type="text/javascript"></script>

    <div class="textBcenter">
        <p class="textB">This app does not run in this resolution</p>
    </div>

  

    <div class="hide">

    <div class="keys">



        <!-- https://keycode.info/ for knowing number = key  -->

        <!-- Lion King -->
        <div data-key="81" class="key">
            <span class="sound">
                <video data-key="81" id="lionKing"> 
                    <source src="../videos/lionKing.mp4" type="video/mp4">
                </video>
            </span>
            <kbd>Q - Lion King</kbd>
        </div>

        <!-- Aladdin -->
        <div data-key="87" class="key">
            <span class="sound">
                <video data-key="87" id="aladdin">> 
                    <source src="../videos/aladdin.mp4" type="video/mp4">
                </video>
            </span>
            <kbd>W - Aladdin</kbd>
        </div>

        <!-- Beauty And The Beast -->
        <div data-key="69" class="key">
            <span class="sound">
                <video data-key="69"> 
                    <source src="../videos/beautyAndTheBeast.mp4" type="video/mp4">
                </video>
            </span>
            <kbd>E - Beauty & the Beast</kbd>
        </div>

        <!-- Toy Story -->
        <div data-key="82" class="key">
            <span class="sound">
                <video data-key="82"> 
                    <source src="../videos/toyStory.mp4" type="video/mp4">
                </video>
            </span>
            <kbd>R - Toy Story</kbd>
        </div>

        <!-- Hercules -->
        <div data-key="84" class="key">
            <span class="sound">
                <video data-key="84"> 
                    <source src="../videos/hercules.mp4" type="video/mp4">
                </video>
            </span>
            <kbd>T - Hercules</kbd>
        </div>
    </div>

        <p class="textA">To <i class="fa-solid fa-play"></i> and <i class="fa-solid fa-pause"></i> a video press the indicated <i class="fa-solid fa-keyboard"></i></p>

    <div class="keys">

        <!-- Pocahontas -->
        <div data-key="65" class="key">
        <span class="sound">
            <video data-key="65"> 
                <source src="../videos/pocahontas.mp4" type="video/mp4">
            </video>
        </span>
        <kbd>A - Pocahontas</kbd>
        </div>

        <!-- Frozen -->
        <div data-key="83" class="key">
            <span class="sound">
                <video data-key="83"> 
                    <source src="../videos/frozen.mp4" type="video/mp4">
                </video>
            </span>
        <kbd>S - Frozen</kbd>
        </div>

        <!-- Little Mermaid -->
        <div data-key="68" class="key">
            <span class="sound">
                <video data-key="68"> 
                    <source src="../videos/littleMermaid.mp4" type="video/mp4">
                </video>
            </span>
        <kbd>D - Little Mermaid</kbd>
        </div>

        <!-- Tangled -->
        <div data-key="70" class="key">
            <span class="sound">
                <video data-key="70"> 
                    <source src="../videos/tangled.mp4" type="video/mp4">
                </video>
            </span>
        <kbd>F - Tangled</kbd>
        </div>
        
        <!-- Tarzan -->
        <div data-key="71" class="key">
            <span class="sound">
                <video data-key="71"> 
                    <source src="../videos/tarzan.mp4" type="video/mp4">
                </video>
            </span>
        <kbd>G - Tarzan</kbd>
        </div>
    </div>

   
    </div>

</body>
</html>